{% extends 'base.html.twig' %}
{% block body %}
    <div class="d-flex flex-row">
        {% include '_include/_sidebar.html.twig' %}
    <div class="container" style="max-width: 100vw!important;">
    <div class="hero-container mt-5 p-5">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div>
                        <h1 class="hero-title"> Bienvenue sur l'application de gestion des Enfants du Soleil.</h1>
                    </div>
                </div>
                <div class="card-group mt-5">
                    {% include 'home/include/_dash_board.html.twig' with {'beneficiary': persons, 'employee':employees} %}
                </div>
            </div>
    </div>
        <div class="hero-container mt-5 p-5">

        <table class="table datagrid">
                <thead>
                <tr>
                    <th class="  header-for-field-text text-left" dir="ltr">
                        <a href="#">
                            Prénom <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="sorted  header-for-field-text text-left" dir="ltr">
                        <a href="#">
                            Nom de famille <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="sorted  header-for-field-text text-left" dir="ltr">
                        <a href="#">
                            Date de naissance <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="sorted  header-for-field-text text-left" dir="ltr">
                        <a href="#">
                            Origine <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="sorted  header-for-field-text text-left" dir="ltr">
                        <a href="#">
                            Localisation <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="sorted  header-for-field-text text-left" >Action</th>
                </tr>
                </thead>
                <tbody>
                {% for person in persons.data %}
                    <tr>
                        <td>{{ person.lastname }}</td>
                        <td>{{ person.firstname }}</td>
                        <td>{{ person.dateOfBirth }}</td>
                        <td>{{ person.origin }}</td>
                        <td>{{ person.localisation }}</td>
                        <td class="actions actions-as-dropdown">
                            <div class="dropdown dropdown-actions">
                                <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="21" width="21" fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                                    </svg>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item action-edit" href="{{ path('app_beneficiary_detail', {'id': person.id}) }}" data-action-name="détail">Détail</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}