<div class="table-design" id="localisation_table">
    {% if behaviourEvents is null %}
        <p>Aucun évènement de comportement n'a été trouvé.</p>
        <button class="btn btn-outline-primary"
                onclick="ajaxCall('app_beneficiary_behaviour_add_ajax', {'id': {{ beneficiary.id }}})">Ajouter un évènement
            de comportement
        </button>
    {% else %}
        <h4 class="mb-4">Historique des évènement de comportement</h4>
        <button class="btn btn-outline-primary mb-4 "
                onclick="ajaxCall('app_beneficiary_behaviour_add_ajax', {'id': {{ beneficiary.id }}})">Ajouter un évènement
            de comportement
        </button>
        <table class="table datagrid">
            <thead id="table_head">
            <tr class="table100-head">
                <th class="header-for-field-text text-left" dir="ltr">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        Le
                    </div>
                </th>
                <th scope="col" class="cell" id="date_cell">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        Type
                    </div>
                </th>
                <th scope="col" class="cell" id="cancel_cell">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        Compte rendu
                    </div>
                </th>
                <th scope="col" class="cell" id="cancel_cell">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        Action
                    </div>
                </th>
            </tr>
            </thead>
            <tbody class="table_data">
            {% for behaviourEvent in behaviourEvents %}
                <tr class="text-center" id="{{ behaviourEvent.id }}">
                    <td>{{ behaviourEvent.eventDate|date("d/m/Y") }}</td>
                    <td>{{ behaviourEvent.eventBehaviorType }}</td>
                    <td>{{ behaviourEvent.comment }}</td>
                    <td class="actions actions-as-dropdown">
                        <div class="dropdown dropdown-actions">
                            <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" height="21" width="21" fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                                </svg>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item action-edit" data-action-name="modifier" id="localisation_edit_link_{{ behaviourEvent.id }}">Modifier</a>
                                <a class="dropdown-item action-delete text-danger"
                                   onclick="ajaxCallDelete('app_beneficiary_behaviour_delete_ajax', {'id': {{ beneficiary.id }}, 'behaviourEventId': {{ health.id }}})">Supprimer</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
