<div class="table-design" id="localisation_table">
    {% if healthEvents is null %}
        <p>Aucun évènement de santé n'a été trouvé.</p>
        <button class="btn btn-outline-primary"
                onclick="ajaxCall('app_beneficiary_health_add_ajax', {'id': {{ beneficiary.id }}})">Ajouter un évènement
            de santé
        </button>
    {% else %}
        <h4 class="mb-4">Historique des évènements de santé</h4>
        <button class="btn btn-outline-primary mb-4"
                onclick="ajaxCall('app_beneficiary_health_add_ajax', {'id': {{ beneficiary.id }}})">Ajouter un évènement
            de santé
        </button>
        <table class="table datagrid">
            <thead id="table_head">
            <tr class="table100-head">
                <th class="header-for-field-text text-left" dir="ltr">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        Le
                    </div>
                </th>
                <th scope="col" class="cell" id="date_cell">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        Maladie
                    </div>
                </th>
                <th scope="col" class="cell" id="ttc_cell">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        Type d'évènement
                    </div>
                </th>
                <th scope="col" class="cell" id="shipping_cell">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        Cout
                    </div>
                </th>
                <th scope="col" class="cell" id="cancel_cell">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        Compte rendu
                    </div>
                </th>
            </tr>
            </thead>
            <tbody class="table_data">
            {% for healthEvent in healthEvents %}
                <tr class="text-center">
                    <td>{{ healthEvent.eventDate|date("d/m/Y") }}</td>
                    <td>{% if healthEvent.isDisease %}OUI {% else %}NON{% endif %}</td>
                    <td>{{ healthEvent.eventMedicalType.name }}</td>
                    <td>{{ healthEvent.consultationCost + healthEvent.drugsCost + healthEvent.otherCost }} €</td>
                    <td>{{ healthEvent.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
