<div class="table-design" id="localisation_table">
    <div class="close-table">
        <button id="close_btn_localisation" type="button" class="btn-close" aria-label="Close"></button>
    </div>

    {% if localisations is null %}
    <p>Aucune localisation n'a été trouvée.</p>
        <button class="btn btn-outline-primary mb-4" onclick ="ajaxCall('app_beneficiary_localisation_add_ajax', {'id': {{ beneficiary.id }}})">Ajouter une localisation</button></a>
    {% else %}
    <h4 class="mb-4">Historique des localisations</h4>
        <button class="btn btn-outline-primary mb-4" onclick ="ajaxCall('app_beneficiary_localisation_add_ajax', {'id': {{ beneficiary.id }}})">Ajouter une localisation</button></a>
    <table class="table datagrid">
        <thead id="table_head">
        <tr class="table100-head">
            <th class="header-for-field-text text-left" dir="ltr">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    Du
                </div>
            </th>
            <th scope="col" class="cell" id="date_cell">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    Au
                </div>
            </th>
            <th scope="col" class="cell" id="ttc_cell">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    Entité EDS
                </div>
            </th>
            <th scope="col" class="cell" id="shipping_cell">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    Adresse
                </div>
            </th>
            <th scope="col" class="cell" id="cancel_cell">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    Ville
                </div>
            </th>
        </tr>
        </thead>
        <tbody class="table_data">
        {% for localisation in localisations %}
            <tr class="text-center">
                <td>{{ localisation.startedAt|date("d/m/Y") }}</td>
                <td>{% if localisation.endedAt is not null %}{{ localisation.endedAt|date("d/m/Y") }}{% else %} - {% endif %}</td>
                <td>{{ localisation.edsEntity.name }}</td>
                <td>{% if localisation.edsEntity.address is not null %}{{ localisation.edsEntity.address.street }}{% else %} - {% endif %}</td>
                <td>{% if localisation.edsEntity.address is not null %}{{ localisation.edsEntity.address.city }}{% else %} - {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
