{% extends 'base.html.twig' %}
{% block body %}
    <div class="d-flex flex-row">
        {% include '_include/_sidebar.html.twig' %}
        <div class="container hero-container mt-5 p-5">
            <div class="row mb-5">
                <div class="col-md-6">
                    <div>
                        <h1 class="hero-title">Ajouter un bénéficaire</h1>
                    </div>
                </div>
            </div>
            <div>
                {{ form_start(form) }}
                <div class="row ">
                    <div class="col-4">
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-4" >
                        {{ form_row(form.sexe) }}
                        {{ form_row(form.dateOfBirth) }}
                        {{ form_row(form.imageUrl) }}
                        {{ form_row(form.origin) }}
                    </div>
                    <div class="col-4" >
                        {{ form_row(form.edsEntity) }}
                        {{ form_row(form.supportStartedAt) }}
                        {{ form_row(form.supportEndedAt) }}
                        {{ form_row(form.tel) }}

                    </div>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary mb-5 text-end">Créer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/beneficiary.js') }}"></script>
{% endblock %}