{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex flex-row hero-background">
        {% include 'beneficiary/_include/_sidebar_beneficiary.html.twig' %}
        <div class="container hero-container mt-5">
            <h2 class="m-5 text-center">Fiche de {{ person.data.firstname ~ ' ' ~ person.data.lastname }}</h2>
            <div id="general_information" class="d-flex flex-row ps-5 pb-5 pe-5">
                    <div class="p-2">
                        <img class="beneficiary-img" src="" alt="image de profil">
                    </div>
                    <ul>
                        <li>Identifiant : {{ generalIdentifier.id }}</li>
                        <li>Né le : {{ person.data.birthdate }}</li>
                        <li>Genre : {{ person.data.gender }}</li>
                        <li>Dernier statut : {{ person.data.origin }}</li>
                        <li>Entité EDS : {{ person.data.localisation }}</li>
                        <li>Tel : {{ person.data.tel }}</li>
                        <li>Email : {{ person.data.email }}</li>
                        <li>Diplomes : {{ person.data.degree }}</li>
                        <li>Niveau scolaire : {{ person.data.school_level }}</li>
                        <li>Début support EDS : {{ person.data.support_start }}</li>
                        <li>Fin support EDS : {{ person.data.support_end }}</li>
                    </ul>
            </div>
            <div id="table">

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script>
    const user_id = {{ person.data.id }};
</script>
    <script src="{{ asset('js/beneficiary.js') }}">
    </script>
{% endblock %}

