{% extends 'base.html.twig' %}
{% block body %}
    <div class="d-flex flex-row">
        {% include '_include/_sidebar.html.twig' %}
        <div class="container hero-container mt-5 p-5">
            <div class="row mb-5">
                <div class="col-md-6">
                    <div>
                        <h1 class="hero-title">Bénéficiaires</h1>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-4 text-start d-flex align-items-center">
                    <input class="form-control" type="text" placeholder="Rechercher un bénéficiaire"> <span
                            class="ms-2 material-symbols-rounded">search</span>
                </div>
                <div class="col-md-6 text-end">
                    <a href="{{ path('app_beneficiary_add') }}">
                        <button class="btn btn-primary">Ajouter un bénéficiaire</button>
                    </a>
                </div>
            </div>
            <table class="table datagrid">
                <thead>
                <tr>
                    <th class="  header-for-field-text text-left" dir="ltr">
                        <a href="#">
                            Prénom <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="sorted  header-for-field-text text-left" dir="ltr">
                        <a href="#">
                            Nom de famille <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="sorted  header-for-field-text text-left" dir="ltr">
                        <a href="#">
                            Date de naissance <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="sorted  header-for-field-text text-left" dir="ltr">
                        <a href="#">
                            Statut <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="sorted  header-for-field-text text-left" dir="ltr">
                        <a href="#">
                            Localisation <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="sorted  header-for-field-text text-left">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for beneficiary in beneficiaries %}
                        <th>{{ beneficiary.firstname }}</th>
                        <th>{{ beneficiary.lastname }}</th>
                        <th>{{ beneficiary.dateOfBirth }}</th>
                        <th>{{ beneficiary.origin }}</th>
                        <th>{{ beneficiary.localisation }}</th>
                        <th>...</th>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}