{% extends 'base.html.twig' %}
{% block body %}
    <div class="d-flex flex-row">
        {% include '_include/_sidebar.html.twig' %}
        <div class="container hero-container mt-5 p-5">
            <div class="row mb-5">
                <div class="col-md-6">
                    <div>
                        <h1 class="hero-title">Employés</h1>
                    </div>
                </div>
            </div>
            {{ form_start(form) }}
            <div class="row ">
                <div class="col-4">
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}

                </div>

                <div class="col-4" >
                    {{ form_row(form.origin) }}
                    {{ form_row(form.edsEntity) }}
                </div>
                <div class="col-4" >
                    {{ form_row(form.function) }}
                </div>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary mb-5 text-end">Rechercher</button>
            </div>
            {{ form_end(form) }}
            <table class="table datagrid">
                <thead>
                <tr>
                    <th class="  header-for-field-text text-left" dir="ltr">
                        <a href="#">
                            Prénom <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="sorted  header-for-field-text text-left" dir="ltr">
                        <a href="#">
                            Nom de famille <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="sorted  header-for-field-text text-left" dir="ltr">
                        <a href="#">
                            Email <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="sorted  header-for-field-text text-left" dir="ltr">
                        <a href="#">
                            Statut <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="sorted  header-for-field-text text-left" dir="ltr">
                        <a href="#">
                            Localisation <i class="fa fa-fw fa-sort"></i>
                        </a>
                    </th>
                    <th class="sorted  header-for-field-text text-left">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for employee in employees %}
                        <th>{{ employee.firstname }}</th>
                        <th>{{ employee.lastname }}</th>
                        <th>{{ employee.email }}</th>
                        <th>{{ employee.status }}</th>
                        <th>{{ employee.localisation }}</th>
                        <td class="actions actions-as-dropdown">
                            <div class="dropdown dropdown-actions">
                                <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="21" width="21" fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                                    </svg>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item action-edit" href="{{ path('app_employee_detail', {'id': employee.id}) }}" data-action-name="détail">Détail</a>
                                    <a class="dropdown-item action-edit" href=""
                                       data-action-name="modifier">Modifier</a>
                                    <a class="dropdown-item action-delete text-danger" href="" data-action-name="delete"
                                       data-bs-toggle="modal" data-bs-target="#modal-delete">Supprimer</a>
                                </div>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}