{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
    <h1>Person</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ person.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ person.lastname }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ person.sexe }}</td>
            </tr>
            <tr>
                <th>DateOfBirth</th>
                <td>{{ person.dateOfBirth ? person.dateOfBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ person.email }}</td>
            </tr>
            <tr>
                <th>FamilyRelation</th>
                <td>{{ person.familyRelation }}</td>
            </tr>
            <tr>
                <th>ImageUrl</th>
                <td>{{ person.imageUrl }}</td>
            </tr>
            <tr>
                <th>LastGradeLevel</th>
                <td>{{ person.lastGradeLevel }}</td>
            </tr>
            <tr>
                <th>SupportStartedAt</th>
                <td>{{ person.supportStartedAt ? person.supportStartedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>SupportEndedAt</th>
                <td>{{ person.supportEndedAt ? person.supportEndedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ person.tel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_person_index') }}">back to list</a>

    <a href="{{ path('app_person_edit', {'id': person.id}) }}">edit</a>

    {{ include('person/_delete_form.html.twig') }}
{% endblock %}
