<div class="table-design" id="localisation_table">
    {% if functions is null %}
        <p>Aucune fonction n'a été trouvée.</p>
        <button class="btn btn-outline-primary"
                onclick="ajaxCall('app_employee_function_add_ajax', {'id': {{ person.id }}})">Ajouter une fonction
        </button>
    {% else %}
        <h4 class="mb-4">Historique des fonctions</h4>
        <button class="btn btn-outline-primary mb-4"
                onclick="ajaxCall('app_employee_function_add_ajax', {'id': {{ person.id }}})">Ajouter une fonction
        </button>
        <table class="table datagrid">
            <thead id="table_head">
            <tr class="table100-head">
                <th class="header-for-field-text text-left" dir="ltr">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        Du
                    </div>
                </th>
                <th scope="col" class="cell" id="date_cell">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        Au
                    </div>
                </th>
                <th scope="col" class="cell" id="ttc_cell">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        Entité EDS
                    </div>
                </th>
                <th scope="col" class="cell" id="shipping_cell">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        Fonction Employé
                    </div>
                </th>
                <th scope="col" class="cell" id="cancel_cell">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        Statut Employé
                    </div>
                </th>
                <th scope="col" class="cell" id="cancel_cell">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        Action
                    </div>
                </th>
            </tr>
            </thead>
            <tbody class="table_data">
            {% for function in functions %}
                <tr class="text-center" id="{{ function.id }}">
                    <td>{{ function.startedAt|date("d/m/Y") }}</td>
                    <td>{% if function.endedAt is not null  %}{{ function.endedAt|date("d/m/Y") }}{% endif %}</td>
                    <td>{{ function.edsEntity.name }}</td>
                    <td>{{ function.functionName }}</td>
                    <td>{{ function.status }}</td>
                    <td class="actions actions-as-dropdown">
                        <div class="dropdown dropdown-actions">
                            <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" height="21" width="21" fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                                </svg>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item action-edit" data-id="{{ function.id }}"
                                   id="health_edit_link_">Modifier</a>
                                <a class="dropdown-item action-delete text-danger"
                                   onclick="ajaxCallDelete('app_employee_function_delete_ajax', {'id': {{ person.id }}, 'functionId': {{ function.id }}})">Supprimer</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
