<div class="p-2 d-flex flex-row ">
    <img class="beneficiary-img" src="{{ asset('uploads/images/' ~ person.data.image_url) }}" alt="image de profil">
    <div class="ms-5 d-flex flex-row">
        <div>
{#            <p type="text" class="form-control">Référence interne : {{ person.data.internRef }}</p>#}
            <p type="text" class="form-control">Né le : {{ person.data.birthday|date('d-m-Y') }}</p>
            <p type="text" class="form-control">Dernier statut : {{ person.data.status }}</p>
{#            <p type="text" class="form-control">Entité EDS : {{ person.data.localisation }}</p>#}
            <p type="text" class="form-control">Tel : {{ person.data.tel }}</p>
            <p type="text" class="form-control">Email : {{ person.data.email }}</p>
        </div>
        <div class="ms-5">
            <p type="text" class="form-control">Date début EDS : {{ person.data.start_date|date('d-m-Y') }}</p>
            <p type="text" class="form-control">Date fin EDS :{% if person.data.end_date is not null %} {{ person.data.start_date|date('d-m-Y') }} {% endif %}</p>
        </div>
    </div>
</div>
